
.expander {
  border-top: solid 2px #3E3934;
  border-bottom: solid 2px #3E3934;
}

.expander__button {
  display: flex;
  padding: 20px 0;
  width: 100%;
  align-items: center;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  flex: 1;

  svg {
    margin-top: -5px;
  }

  &:focus {
    border: none;
  }
}

.expander__label {
  padding-left: 16px;
  flex: 9;
}

.expander__heading {
  display: inline-block;
  line-height: 1;
}

.expander__subheading {
  display: inline-block;
}

.expander__content--open {
  display: block;
}

.expander__content--closed {
  display: none;
}
